.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem 0.5rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 2.0rem;
  font-weight: 500;
  color: #8BC34A;
}

.searchContainer {
  flex-grow: 10;
  max-width: 30rem;
  margin: 0px 10rem;
}
