.container {
  max-width: 380px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.loginBtn {
  padding: 10px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.loginBtn:hover {
  opacity: 0.9;
}

.divider {
  text-align: center;
  margin: 12px 0;
  font-size: 14px;
  color: #888;
}

.googleBtn,
.xBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.googleBtn {
  background: white;
  border: 1px solid #ddd;
  color: #333;
}

.googleBtn:hover {
  background-color: #f2f0f0;
}

.LINEBtn {
  background: #06C755;
  color: white;
}

.LINEBtn:hover {
  opacity: 0.9;
  background-color: #32d676;
}

.xBtn {
  background: black;
  color: white;
}

.xBtn:hover {
  opacity: 0.9;
  background-color: rgb(33, 33, 33);
}

.pwdForgetLink {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #0070f3;
  text-decoration: none;
}

.pwdForgetLink:hover {
  text-decoration: underline;
}
